{{!-- <body class="bg02">
    <div class="container">
        <div class="row tm-mt-big">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Edit Product</h2>
                        </div>
                    </div>
                    <div class="row mt-4 tm-edit-product-row">
                        <div class=" col-md-12">
                            <form action="/admin/update-product/{{product._id}}" method="post" enctype="multipart/form-data" class="tm-edit-product-form">
                                <div class="input-group mb-3">
                                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Product Name</label>
                                    <input id="name" name="name" value="{{product.name}}" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" onkeyup="Namevalidate()" ></div>
                                    <p class="text-danger text-center" id="nameerror"></p>
                                <div class="input-group mb-3">
                                    <label for="expire_date" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Size
                                    </label>
                                    <input id="size" name="size" value="{{product.size}}" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" data-large-mode="true" onkeyup="Sizevalidate()"  ></div>
                                    <p class="text-danger text-center" id="sizeerror"></p>
                                <div class=" row input-group mb-3">
                                    <div class="d-flex col-6">
                                        <label class="mt-2 col-9">Price
                                        </label>
                                        <input id="price" value="{{product.price}}" name="price" type="text" class="form-control validate col-xl-4 col-lg-4 col-md-7 col-sm-7" onkeyup="Pricevalidate()" ></div>

                                    <div class="d-flex col-6">
                                        <label class="mt-2 col-4">Amount
                                        </label>
                                        <input id="amount" name="amount" value="{{product.amount}}" type="text" class="form-control validate col-md-4 col-sm-7" onkeyup="Amountvalidate()"></div>
                                         <p class="text-danger" style="padding-left:12rem;" id="priceerror"></p>
                                                    <p class="text-danger text-center" style="padding-left:1rem;" id="amounterror"></p>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="expire_date" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Category
                                    </label>
                                    <input id="category" name="catagory" value="{{product.catagory}}" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" data-large-mode="true" onkeyup="Categoryvalidate()">
                                </div>
                                <p class="text-danger text-center" id="categoryerror"></p>
                                <div class="input-group mb-3">
                                    <label for="expire_date" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Quantity
                                    </label>
                                    <input id="quantity" name="quantity" value="{{product.quantity}}" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" data-large-mode="true" onkeyup="Quantityvalidate()"></div>
                                    <p class="text-danger text-center" id="quantityerror"></p>
                                <div class="col-xl-4 col-lg-4 col-md-12 me-auto mb-4">
                                    <label class="col-12 mt-4">Image</label>
                                    <img src="/proimg/{{product._id}}.jpg" style="width:50px; height:50px;" alt="">
                                    <input type="file" name="image">


                                </div>

                                <div class="input-group mb-3">
                                    <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                        <button type="submit" onclick="return validate()"  class="btn btn-primary">Add
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function Namevalidate() {
            let Name = document.getElementById('name').value
            let Nameerror = document.getElementById('nameerror')
            if (Name == "") {
                Nameerror.innerHTML = "This Field Must Be Required!"
                return false
            }
            if (! Name.match(/[a-zA-Z]/)) {
                Nameerror.innerHTML = "Only Alphbets are allowed"
                return false

            }
            Nameerror.innerHTML = ""
            return true

        }

        function Sizevalidate() {
            const Size = document.getElementById("size").value
            const Sizeerror = document.getElementById("sizeerror")
            if (Size == "") {
                Sizeerror.innerHTML = "This Field Must Be Required!"
                return false
            }
            if (! Size.match(/[0-9]/)) {
                Sizeerror.innerHTML = "Only Numbers Are Allowed"
                return false
            }
            Sizeerror.innerHTML = ""
            return true
        }

        function Pricevalidate() {
            const Price = document.getElementById("price").value
            const Priceerror = document.getElementById("priceerror")
            if (Price == "") {
                Priceerror.innerHTML = "This Field Must Be Required!"
                return false
            }
            if (! Price.match(/[0-9]/)) {
                Priceerror.innerHTML = "Only Numbers Are Allowed"
                return false
            }
            Priceerror.innerHTML = ""
            return true
        }

        function Amountvalidate() {
            const Amount = document.getElementById("amount").value
            const Amounterror = document.getElementById("amounterror")
            if (Amount == "") {
                Amounterror.innerHTML = "This Field Must Be Required!"
                return false
            }
            if (! Amount.match(/[0-9]/)) {
                Amounterror.innerHTML = "Only Numbers Are Allowed"
                return false
            }
            Amounterror.innerHTML = ""
            return true
        }

        function Quantityvalidate() {
            const Quantity = document.getElementById("quantity").value
            const Quantityerror = document.getElementById("quantityerror")
            if (Quantity == "") {
                Quantityerror.innerHTML = "This Field Must Be Required!"
                return false
            }
            if (! Quantity.match(/[0-9]/)) {
                Quantityerror.innerHTML = "Only Numbers Are Allowed"
                return false
            }
            Quantityerror.innerHTML = ""
            return true
        }

        function Categoryvalidate() {
            let Category = document.getElementById('category').value
            let Categoryerror = document.getElementById('categoryerror')
            if (Category == "") {
                Categoryerror.innerHTML = "cannot be empty"
                return false
            }
            if (! Category.match(/[a-zA-Z]/)) {
                Categoryerror.innerHTML = "Only Alphbets are allowed"
                return false

            }
            Categoryerror.innerHTML = ""
            return true

        }

        function validate() {
            if (Namevalidate() || Sizevalidate() || Pricevalidate() || Amountvalidate() || Categoryvalidate() || Quantityvalidate()) {
                return true
            }
            return false
        }
    </script>
</body> --}}
