<section class="cart_area ">
    <hr>
    <div class="container pt-3">

        <div class="cart_inner">
            <div class="table-responsive">
                 {{#if cartproduct}}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div>Product</div>
                            </th>
                            <th scope="col">
                                <div class="ml-5">Price</div>
                            </th>
                            <th scope="col">
                                <div class="ml-5">Quantity </div>
                            </th>
                            <th scope="col">
                                <div class="ml-3">Total</div>
                            </th>
                            <th scope="col">
                                <div class="ml-3">Offer</div>
                            </th>
                            <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        {{#each cartproduct}}
                        <tr>

                            <td>
                                <div class="media ">
                                    <a href="/product-detail/pp/{{this.product._id}}">
                                        <div class="d-flex ">
                                            <img style="width:5rem;" src="/proimg/{{this.product._id}}.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>{{this.product.name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="ml-5">
                                    <h5>₹{{this.product.price}}</h5>
                                </div>
                            </td>

                            <td>
                                <div class="product_count ml-5 ">
                                    <input type="text" id="{{this.product._id}}" maxlength="12"
                                        value="{{this.quantity}}" class="input-text qty">

                                    <button
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{this.product.name}}','{{this.product.price}}',1)"
                                        class="increase items-count" type="button"><i
                                            class="lnr lnr-chevron-up"></i></button>

                                    <button
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{this.product.name}}','{{this.product.price}}',-1)"
                                        class="reduced items-count" type="button"><i
                                            class="lnr lnr-chevron-down"></i></button>
                                </div>
                            </td>

                            <td>
                                <div class="ml-3">
                                    <h5><span id="{{this.product.name}}"> ₹{{this.total}}</span></h5>
                                </div>
                            </td>
                            {{#if this.product.offer}}
                            <td>
                                <h5><span id="{{this.product.offer}}" class="text-success">
                                        {{this.product.offerpercentage}}%Off</span></h5>
                            </td>
                            {{else}}
                            <td class=""><span></span></td>
                            {{/if}}

                            <td>

                                <div> <a onclick="removeFromcart('{{this._id}}','{{this.product._id}}')"
                                        class="btn btn-danger text-white">Remove</a></div>
                            </td>
                        </tr>

                        {{/each}}
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="#"></a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <form action="/apply-coupon" method="post">
                                    <div class="cupon_text d-flex align-items-end px-2" style="margin-left: -243px">
                                        <input type="text" style="color: black" name="couponname"
                                            placeholder="Coupon Code">
                                        <button class="primary-btn" style="border:unset;" type="submit">Apply</button>
                                    </div>
                                </form>
                            </td>

                        </tr>
                    </tbody>


                </table>
                <td> {{#if coupon}}
                    <div class="text-danger d-flex justify-content-end mx-3">{{coupon}}</div>
                    {{/if}}
                </td>
                <hr>
                <div class="row  mx-3 " style="justify-content: end;">
                    <div>
                        <ul style="font-size: 10px;">
                            <li class="mt-2">
                                <div class="ml-5 px-5">
                                    <h6>Total</h6>
                                </div>
                            </li>
                            <li class="mt-2">
                                <div class="ml-5 px-5">
                                    <h6>Offer Applied</h6>
                                </div>
                            </li>
                            <li class="mt-2">
                                <div class="ml-5 px-5">
                                    <h6>Shipping Fee</h6>
                                </div>
                            </li>
                            <li class="mt-2">
                                <div class="ml-5 px-5">
                                    <h6>Coupon Applied</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul style="text-align: end">
                            <li class="mt-2">
                                <div class="ml-5">
                                    <h6><span id="total"> ₹{{total}}</span></h6>
                                </div>
                            </li>
                            <li class="mt-2">
                                <div class="ml-5">
                                    <h6><span id="offertotal">- ₹{{offertotal}}</span></h6>
                                </div>
                            </li>
                            <li class="mt-2">
                                <div class="ml-5">
                                    <h6><span id="total">₹0</span></h6>
                                </div>
                            </li>

                            <li class="mt-2">
                                <div class="ml-5">
                                    <h6><span id="coupon" class="">-₹{{couponval}}</span></h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <hr>
                <div class="d-flex justify-content-end mx-3">
                    <span>
                        <h6>Subtotal</h6>
                    </span> <span class="ml-5">
                        <h6><span>₹</span><span id="subtotal">{{subtotal}}</span></h6>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-end mx-3">

            <div class=" d-flex justify-content-end">
                <a class="primary-btn px-5" style="border-radius: 3px;line-height: 45px" href="/checkout">Proceed to
                    checkout</a>
            </div>

        </div>
        {{else}}
        <div style="height:10rem;" class="d-flex justify-content-center">
            <h3>Your Cart Is Empty</h3>
        </div>
        {{/if}}

    </div>
</section>