<section class="checkout_area section_gap">
    <div class="container">
        <hr>
        <form action="" id="checkOut-form" method="post">
            <div class="billing_details mt-5">
                <div class="row">

                    <div class="col-lg-8">
                        <input type="radio" name="add" id="shipping" value="0" checked><span class="ml-2 text-dark"
                            style="font-size: 22px;font-weight: 400">Shipping Details</span>
                        <div class="row contact_form mt-2">
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="name" name="name" placeholder="First name"
                                    onkeyup="namevalidate()">
                                <div class="text-danger" id="name-error"></div>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="lastname" name="lastname"
                                    placeholder="Last name" onkeyup="lastnamevalidate()">
                                <div class="text-danger" id="lastname-error"></div>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="mobile" name="mobile"
                                    placeholder="Phone number" onkeyup="numbervalidate()">
                                <div class="text-danger" id="mobile-error"></div>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="email" name="email"
                                    placeholder="Email Address" onkeyup="emailvalidate()">
                                <div class="text-danger" id="email-error"></div>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="address" name="address"
                                    placeholder="Address " onkeyup="addressvalidate()">
                                <div class="text-danger" id="address-error"></div>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="city" name="city" placeholder="Town/City"
                                    onkeyup="cityvalidate()">
                                <div class="text-danger" id="city-error"></div>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="pincode" name="pincode"
                                    placeholder="Pincode" onkeyup="pincodevalidate()">
                                <div class="text-danger" id="pincode-error"></div>
                                <input type="text" name="userId" value="{{user._id}}" hidden>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mx-2 mb-2">
                            <input type="radio" value="1" name="saveaddress" style="margin-top: revert"><span
                                class="ml-2 " style="color: black;font-weight: 500;">Save Address</span>
                        </div>
                        <div>
                            <div style=" background-color: #e5ecee;width: 730px;height: 300px;overflow:auto;"
                                class="px-5">
                                <h4 class="pt-3">Choose a Address</h4>
                                {{#each address}}
                                <hr>
                                <div class="d-flex ">

                                    <div>
                                        <hr>
                                    </div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <td><input type="radio" value="{{this._id}}" name="add"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr>
                                                <td>Name </td>
                                                <td class=" px-2">:</td>
                                                <td class=" px-3">{{name}} {{lastname}}</td>
                                            </tr>
                                            <tr>
                                                <td>Email </td>
                                                <td class=" px-2">:</td>
                                                <td class="px-3">{{email}}</td>
                                            </tr>
                                            <tr>
                                                <td>Mobile no </td>
                                                <td class=" px-2">:</td>
                                                <td class="px-3">{{mobile}}</td>
                                            </tr>
                                            <tr>
                                                <td>Address </td>
                                                <td class=" px-2">:</td>
                                                <td class="px-3">{{address}}</td>
                                            </tr>
                                            <tr>
                                                <td>City </td>
                                                <td class=" px-2">:</td>
                                                <td class="px-3">{{city}}</td>
                                            </tr>
                                            <tr>
                                                <td>Pincode </td>
                                                <td class=" px-2">:</td>
                                                <td class=" px-3">{{pincode}}</td>
                                            </tr>

                                            <div>
                                                <hr>
                                            </div>
                                        </tbody>
                                    </table>


                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list list_2">
                                <li><a>Product <span>Total</span></a></li>
                                {{#each cartproduct}}

                                <li>
                                    <div class="row">
                                        <div class="col-6 pt-1">{{this.product.name}}</div>
                                        <div class="middle col-3 pt-1">x{{this.quantity}}</div>
                                        <div class="last col-3 pt-1 ">₹{{this.total}}</div>
                                    </div>
                                </li>

                                {{/each}}
                            </ul>
                            <ul class="list list_2">
                                <li><a>Total<span>₹{{total}}</span></a></li>
                                <li><a>Shipping <span>Flat rate: ₹0</span></a></li>
                                <li><a>Offer Applied <span>₹{{offertotal}}</span></a></li>
                                <li><a>Coupon Applied<span>₹{{couponval}}</span></a></li>
                                <li><a>Subtotal<span>₹{{subtotal}}</span></a></li>
                            </ul>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="paymentMethod" value="COD" checked>
                                    <label for="f-option5">COD</label>
                                    <div class="check"></div>
                                </div>
                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="paymentMethod" value="online">
                                    <label for="f-option6">Razor Pay</label>
                                    <img src="img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <div class="radion_btn">
                                    <input type="radio" id="f-option7" name="paymentMethod" value="paypal">
                                    <label for="f-option7">Paypal</label>
                                    <img src="img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                    account.</p>
                            </div>

                            <button type="submit" onclick="return validate()" class="primary-btn">Proceed to
                                Pay</button>
                        </div>
        </form>
    </div>
    </div>
    </div>
    </form>
    </div>
</section>
<script>
    function namevalidate() {
        let Name = document.getElementById('name').value
        let Nameerror = document.getElementById('name-error')
        if (Name == "") {
            Nameerror.innerHTML = "cannot nn be empty"
            return false
        }
        if (Name.match(/[^a-zA-Z]/)) {
            Nameerror.innerHTML = "Only Alphbets are allowed"
            return false

        }
        Nameerror.innerHTML = ""
        return true

    }

    function lastnamevalidate() {
        let Name = document.getElementById('lastname').value
        let Nameerror = document.getElementById('lastname-error')
        if (Name == "") {
            Nameerror.innerHTML = "cannot be empty"
            return false
        }
        if (Name.match(/[^a-zA-Z]/)) {
            Nameerror.innerHTML = "Only Alphbets are allowed"
            return false

        }
        Nameerror.innerHTML = ""
        return true

    }

    function emailvalidate() {
        const Email = document.getElementById("email").value
        const Emailerror = document.getElementById("email-error")
        if (Email == "") {
            Emailerror.innerHTML = "This field must be required!"
            return false
        }
        if (!Email.match(/^[^ ]+@[^ ]+\.[a-z]{2,3}$/)) {
            Emailerror.innerHTML = "Enter a valid email"
            return false
        }
        Emailerror.innerHTML = ""
        return true
    }

    function numbervalidate() {
        const Mobile = document.getElementById("mobile").value
        const Mobileerror = document.getElementById("mobile-error")
        if (Mobile == "") {
            Mobileerror.innerHTML = "This field must be required!"
            return false
        }
        if (Mobile.match(/[^0-9]/)) {
            Mobileerror.innerHTML = "Only Numbers allowed!"
            return false
        }
        if (Mobile.length < 10 || Mobile.length > 10) {
            Mobileerror.innerHTML = "Must be 10 charactertics!"
            return false
        }
        Mobileerror.innerHTML = ""
        return true
    }

    function cityvalidate() {
        let Name = document.getElementById('city').value
        let Nameerror = document.getElementById('city-error')
        if (Name == "") {
            Nameerror.innerHTML = "cannot be empty"
            return false
        }
        if (Name.match(/[^a-zA-Z]/)) {
            Nameerror.innerHTML = "Only Alphbets are allowed"
            return false

        }
        Nameerror.innerHTML = ""
        return true

    }

    function addressvalidate() {
        let Name = document.getElementById('address').value
        let Nameerror = document.getElementById('address-error')
        if (Name == "") {
            Nameerror.innerHTML = "cannot be empty"
            return false
        }

        Nameerror.innerHTML = ""
        return true

    }



    function pincodevalidate() {
        const Mobile = document.getElementById("pincode").value
        const Mobileerror = document.getElementById("pincode-error")
        if (Mobile == "") {
            Mobileerror.innerHTML = "This field must be required!"
            return false
        }
        if (Mobile.match(/[^0-9]/)) {
            Mobileerror.innerHTML = "Only Numbers allowed!"
            return false
        }
        if (Mobile.length < 6 || Mobile.length > 6) {
            Mobileerror.innerHTML = "Must be 6 character!"
            return false
        }
        Mobileerror.innerHTML = ""
        return true
    }


    function validate() {
        let shipping = document.getElementById('shipping')
        if (!shipping.checked) {
            return true
        }
        if (namevalidate() && lastnamevalidate() && numbervalidate() && emailvalidate() && addressvalidate() && cityvalidate() && cityvalidate() && pincodevalidate()) {
            return true
        }
        return false
    }

</script>