<div class="container rounded bg-white mt-5 pt-5 mb-5">
    <hr>
    <div class="row">
        <div class="col-md-2 border-right">
            <div class="d-flex flex-column align-items-center text-center pe-3 py-5"><img class="rounded-circle " width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{user.name}}</span><span class="text-black-50"></span>{{user.email}}<span> </span></div>
            <div><button type="button" style="border-radius: 3px; line-height: 40px; border:none" class="primary-btn text-white" data-toggle="modal" data-target="#a555" data-whatever="@mdo">My Orders</button></div>
        </div>
        <div class="col-md-7 border-right ">
            <div class="">
                <h3>Orders</h3>
                
                {{!-- <div>
                     <label for="">Status : </label><span></span>
                </div> --}}
                {{#each data}}
                <hr>
                <div>Order no {{inc @index}}</div>
                <hr>
               {{#each product}}
                <div>
                     <label for="">Product : </label><span>{{this.name}}</span>
                </div>
                <div>
                   <label for="">Price : </label><span>{{this.price}}</span>
                </div>
                
                <div>
                   <label for="">Quantity : </label><span>{{this.quanti}}</span>
                   
                </div>  
                {{/each}}     
                <div>
                  <label for="">Total : </label><span>{{this.total}}</span>
                </div>
                <div>
                  <label for="">Date : </label><span>{{this.date}}</span>
                </div>
                 <div>
                  <label for="">Status : </label><span id="{{this._id}}">{{this.status}}</span>
                </div>
                <div>
                  <label for="">payment Method : </label><span>{{this.payment}}</span>
                </div>
                <div>
                  <label for="">Shipping Details : </label><span>{{this.deliveryDetails.name}} ,</span><span>{{this.address.place}} ,</span>
                  <span>{{this.address.address1}} ,</span><span>{{this.address.pincode}} ,</span><span>{{this.deliveryDetails.mobile}}</span>
                </div>
                <div><a onclick="cancelOrder('{{this._id}}')" style="border-radius: 3px; line-height: 31px" class="btn primary-btn text-white mt-2">Cancel</a></div>
                {{/each}}
            </div>
           

  <div class="d-flex justify-content-end"> <button type="button" style="border-radius: 3px; line-height: 40px; border:none" class="primary-btn text-white" data-toggle="modal" data-target="#a555" data-whatever="@mdo">View More</button></div>
       
           <div class="modal fade" id="a555" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Orders</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<div class="d-flex justify-content-center">
      <div >
                
                
                {{!-- <div>
                     <label for="">Status : </label><span></span>
                </div> --}}
                {{#each datas}}
                <hr>
                <div>Order no {{inc @index}}</div>
                <hr>
               {{#each product}}
                <div>
                     <label for="">Product : </label><span>{{this.name}}</span>
                </div>
                <div>
                   <label for="">Price : </label><span>{{this.price}}</span>
                </div>
                
                <div>
                   <label for="">Quantity : </label><span>{{this.quanti}}</span>
                   
                </div>  
                {{/each}}     
                <div>
                  <label for="">Total : </label><span>{{this.total}}</span>
                </div>
                <div>
                  <label for="">Date : </label><span>{{this.date}}</span>
                </div>
                 <div>
                  <label for="">Status : </label><span id="{{this._id}}">{{this.status}}</span>
                </div>
                <div>
                  <label for="">payment Method : </label><span >{{this.payment}}</span>
                </div>
                <div>
                  <label for="">Shipping Details : </label><span>{{this.deliveryDetails.name}} ,</span><span>{{this.address.place}} ,</span>
                  <span>{{this.address.address1}} ,</span><span>{{this.address.pincode}} ,</span><span>{{this.deliveryDetails.mobile}}</span>
                </div>
                <div class="d-flex justify-content-end"><a onclick="cancelOrder('{{this._id}}')" style="border-radius: 3px; line-height: 31px" class="btn btn-info primary-btn text-white ">Cancel</a></div>
                {{/each}}
            </div>
      <div class="modal-footer">  
      </div>
    </div>
    </div>
  </div>
</div>
            {{!-- <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                    <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div> --}}
            
        </div>
        <div class="col-md-3">
            <div class="p-3 py-5">
                
                <div class="d-flex justify-content-between align-items-center experience"><span><h4>Change Password</h4></span></div><br>
                <form  method="post" id="changeUserPassword-form">
                    <div class="col-md-12"><label class="labels">Enter Current Password</label><input type="password" class="form-control" id="password" name="currentPassword" onkeyup="passwordvalidate()"></div> <br>
                    <div class="text-danger" id="passworderror"></div>
                     <div class="col-md-12"><label class="labels">New Password</label><input type="password" class="form-control" id="newpassword" name="newpassword" onkeyup="newpasswordvalidate()"></div> <br>
                     <div class="text-danger" id="newpassworderror"></div>
                     <div class="col-md-12"><label class="labels">Re-Enter New Password</label><input type="password" id="reepassword" class="form-control" onkeyup="repasswordvalidate()" ></div>
                    <div class="text-danger" id="reepassworderror"></div>
                     <button type="submit" style="border-radius: 3px; line-height: 40px" onclick="return validate()" class="btn btn primary-btn text-white mt-3  ml-3">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script>
   function passwordvalidate(){
      let Password=document.getElementById("password").value
    let Passworderror=document.getElementById("passworderror")
      if(Password==""){
        Passworderror.innerHTML="This field must be required!"
        return false
      }
      if(Password.length<=5)
      {
        Passworderror.innerHTML="Must be 5 charactertics!"
        return false
      }
      Passworderror.innerHTML=""
      return true
  }

  function newpasswordvalidate(){
      let Password=document.getElementById("newpassword").value
    let Passworderror=document.getElementById("newpassworderror")
      if(Password==""){
        Passworderror.innerHTML="This field must be required!"
        return false
      }
      if(Password.length<=5)
      {
        Passworderror.innerHTML="Must be 5 charactertics!"
        return false
      }
      Passworderror.innerHTML=""
      return true
  }

  function repasswordvalidate(){
    const password=document.getElementById("newpassword").value
      const rePassword=document.getElementById("reepassword").value
    const rePassworderror=document.getElementById("reepassworderror")
      if(rePassword!=password){
        rePassworderror.innerHTML="Password must be same"
        return false
      }
      if(rePassword=="")
      {
        rePassworderror.innerHTML="This feild required!"
        return false
      }
      rePassworderror.innerHTML=""
      return true
  }

  function validate(){
    if(passwordvalidate()&&newpasswordvalidate()&&repasswordvalidate()){
      return true
    }
      return false
  }
</script>