<section class="cart_area ">
    <hr>
    <div class="container">
        <div class="cart_inner">
            {{#if product}}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Option</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each product}}
                        <tr>
                            <td>
                                <div class="media">
                                    <a href="/product-detail/pp/{{this.wishproduct._id}}">
                                        <div class="d-flex">

                                            <img style="width:5rem;" src="/proimg/{{this.wishproduct._id}}.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>{{this.wishproduct.name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{this.wishproduct.price}}</h5>
                            </td>
                            <td>
                                <a onclick="addToCart('{{this.wishproduct._id}}')" class="primary-btn text-white"
                                    style="border-radius: 3px; line-height: 40px; padding: 0 10px;">Add to cart</a>
                            </td>
                            <td>
                                <a onclick="removeFromwishlist('{{this.wishproduct._id}}')"
                                    class="primary-btn text-white"
                                    style="border-radius: 3px; line-height: 40px; padding: 0 10px;">Remove</a>

                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
            {{else}}
            <div style="height:10rem;" class="d-flex justify-content-center">
                <h3>Your Wishlist Is Empty</h3>
            </div>
            {{/if}}
        </div>
    </div>
</section>